<%- include("partials/header") -%>
<marquee direction="up"><h1>About</h1></marquee>
<p><%= abtContent %></p>
   <p>⦿Celebrate your wins.</p> 
   <p>⦿Make a list of things you love.</p>
   <p>⦿Make a 'let it go' list.</p> 
   <p>⦿Write down questions for yourself.</p> 
   <p>⦿Break your goals down into to-do lists.</p> 

