<%- include("partials/header") -%>
<marquee direction="up"><h1>Contact</h1></marquee>
<img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/49690875_558016521337540_383429533153361920_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=OItrqaJwm-kAX9LbRBT&_nc_ht=scontent-maa2-1.xx&oh=c5372cad2ccb41fea76ea52b594556d5&oe=606DCF7E" alt="Muttu">
<p><%= contContent %></p>
<p>Email:  hanamantrayhyk@gmail.com</p>
<p>Phone:  +918151006161</p>
